
<div class="main-div" fxLayoutAlign="center center" fxFlexFill >
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Login Page</mat-toolbar>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field><br>
      
        <mat-form-field>
          <input matInput placeholder="Passowrd" type="password" formControlName="password">
        </mat-form-field>
        <button mat-raise-button type="submit">Login</button>
      </form>
      
    </mat-card>
  </div>

  <!-- {{login}} -->

  
  <span *ngIf="login" >
  <div class="main-error" style="text-align: center;">
    <p class="wrongCreds">Please Enter Correct Credentials</p>
  </div>
  </span>
   
  <!--
    1. Add login failed message 




  -->